<h1 [hidden]="true">What did the cheese say when it looked in the mirror?</h1>
<p (click)="clickMe()" >Prix total: {{ totalPrice | async }} euros</p>

Contenu du panier :
<div *ngFor="let article of ( articles | async )">
  {{ article.desc }}
</div>


<br />
<br />
Ajout d'un article au panier :
<br />
<!-- the event is used to fill the template-reference-variable -->
<input type="text" (keyup)="keyUpButton($event)">


<br />
<br />
<br />
<br />

<div>
  <app-comp1 [hidden]="_hideComp1" (getSearchStatusChange)="statusChangeHandler($event)"></app-comp1>
  <app-comp2 [hidden]="_hideComp2" (getSearchStatusChange)="statusChangeHandler($event)"></app-comp2>
  <input [hidden]="_hideButton" type="button" value="save all" />
</div>

<br />
<br />
<br />
<br />

<div *ngIf="test12 > 5; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>< 5</ng-template>
<ng-template #elseBlock>> 5</ng-template>

<br />

<ng-template [ngIf]="true">
  ...
</ng-template>

<br />
