
<div class="row">

  <div class="col-sm-10 offset-sm-1 gl-container">

    <div class="row col-sm-1">
      <div class="gl-container-title">
        Ma&nbsp;commande
      </div>
    </div>

    <div class="row gl-container-first">

      <div class="col-sm-6 ">
        <span class="float-sm-left">1 articles</span>
      </div>

      <div class="col-sm-6 float-right">
        <span class="float-sm-right">
          <button type="button" class="btn btn-outline-dark">Afficher les articles</button>
        </span>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6 ">
        <span class="float-sm-left">TOTAL TTC</span>
      </div>

      <div class="col-sm-6 float-right">
        <span class="float-sm-right">42.50 €</span>
      </div>

    </div>

  </div>

</div>

<div *ngFor="let giftcard of (giftcards | async); let i = index">
  <gl-giftcard-smart [id]="i"></gl-giftcard-smart>
</div>


<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="row">

      Cartes cadeaux enregistrées

    </div>
    <div class="row">

      <table class="table">
        <thead>
        <tr>
          <th>Numéro</th>
          <th>CCV</th>
          <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let giftcardSaved of (giftcardsSaved | async); let i = index">
          <td>{{ giftcardSaved.number }}</td>
          <td>{{ giftcardSaved.bin }}</td>
          <td>{{ giftcardSaved.amount }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
